.navContainer {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.navContainer a {
  cursor: pointer;
  color: wheat;
  text-decoration: none;
  padding: 1rem 0;
}
.navContainer a:hover,
.navContainer a:active {
  color: violet;
}
