/* trips css starts */
.trips-container {
  background-color: blanchedalmond;
  overflow: hidden;
  padding-bottom: 2rem;
}
.loading h3 {
  text-align: center;
}
.trip-card {
  width: 36rem;
  margin: 1.5rem auto;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 0.5rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img img {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.card-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px dotted rgb(168, 167, 167);
}
.card-content {
  margin: 1rem;
}
.trip-name {
  font-size: large;
  font-weight: bolder;
}
.trip-price {
  background-color: rgb(204, 235, 253);
  color: royalblue;
  padding: 0.5rem 0.8rem;
  font-weight: bolder;
  border-radius: 1rem;
}
.btn-more-desc {
  cursor: pointer;
  border: none;
  background-color: rgb(143, 213, 253);
  font-weight: 700;
  font-size: smaller;
  padding: 0.3rem;
}
.btn-no-interest {
  display: block;
  border: 1px solid rgb(255, 44, 44);
  border-radius: 0.4rem;
  background-color: transparent;
  padding: 0.5rem;
  color: rgb(255, 49, 49);
  font-weight: 600;
  cursor: pointer;
  width: 8rem;
  transition: width 1s;
  margin: 0 auto;
}
.btn-no-interest:hover {
  /* transform: scale(1.5,1.5);    */
  width: 10rem;
}
.no-trips {
  color: rgb(255, 53, 53);
}
.btn-refresh {
  border: 2px solid rgb(44, 58, 255);
  border-radius: 0.4rem;
  background-color: transparent;
  padding: 0.8rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: 8rem;
  font-size: medium;
}
.btn-refresh:hover {
  color: white;
  background-color: rgb(36, 69, 252);
}
/* trips css ends */
