body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}
.title {
  text-align: center;
  padding: 2rem 0;
}
.title h1 {
  text-transform: capitalize;
  line-height: 1;
  margin: 0 0 1rem;
  letter-spacing: 0.4rem;
  font-style: oblique;
  font-weight: bolder;
  color: rgb(99, 98, 98);
}
.underline {
  width: 5rem;
  height: 0.3rem;
  background-color: rgb(99, 57, 252);
  text-align: center;
  margin: 0 auto;
}
.Success {
  color: green;
  background-color: rgb(208, 252, 208);
  font-weight: bold;
  padding: 0.5rem;
}
.Danger {
  color: red;
  background-color: rgb(255, 223, 223);
  font-weight: bold;
  padding: 0.5rem;
}
